.idea/

node_modules/

Uebungen/WE6_Nodejs/node_modules
Uebungen/WE7_Modular_Web/lit-element-starter-js
/Uebungen/WE7_Modular_Web/a2_menu_component/node_modules/
/Uebungen/WE7_Modular_Web/a3_www_components/node_modules/
Uebungen/WE7_Modular_Web/a1_es6_web_components/components/rednerliste_comp.js
Uebungen/WE7_Modular_Web/a1_es6_web_components/components/Tabellenkalk-comp.js
WE8_Uebung8_PWA/
Uebungen/WE8_PWA/cert
Uebungen/WE8_PWA/node_modules
Uebungen/WE8_PWA/public/images
Uebungen/WE6_Nodejs/generated_alpha.txt
Uebungen/WE6_Nodejs/generated_numbers.txt
Uebungen/WE6_Nodejs/merged_file_files.txt
Uebungen/WE6_Nodejs/merged_file_stream.txt


