.idea/
Uebungen/WE6_nodejs/node_modules
Uebungen/WE7_modular_web/lit-element-starter-js
/Uebungen/WE7_modular_web/a2_menu_component/node_modules/
/Uebungen/WE7_modular_web/a3_www_components/node_modules/
Uebungen/WE7_modular_web/a1_es6_web_components/components/rednerliste_comp.js
Uebungen/WE7_modular_web/a1_es6_web_components/components/Tabellenkalk-comp.js