.storybook-stylized_linkbox {
    background-color: #e6c300;
    border: 3px solid;
    border-radius: 10px;
    border-color: #2c3e50;
    color: #e6c300;
    width: 	10vw;
    line-height: 5px;
    text-align: center;
    margin: 1.5vw;
    font-size: 0.6vw;
    font-family: Verdana;
    height: auto;

}

.storybook-links {
    color: #2c3e50;
    text-decoration: none;
}

.storybook-navlist--vertical{
    display: inline-block;
}

.storybook-navlist--horizontal{
    display: block;
}