.body{

}
.wrapper {
    display: grid;
    grid-template-columns: 13% 22% 14% 22% 14% 13%;
    grid-template-rows: repeat(7,minmax(200px,25vw));
    background-color: #fff;
    --ratio-percent:100%;
}

.design_header {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: #ffffff;
    color: #6f655b;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 6vw;
    padding-top: 0.4em;
    padding-left: 0.2em;
}

.design_img {
    grid-row: 1;
    grid-column: 4/6 ;
    display: grid;
    grid-template-columns: 99% 1%;
    grid-template-rows: subgrid;
}

#myProgress {
    width: 95%;
    background-color: #ddd;
}
#myBar {
    width: 100%;
    height: 30px;
    background-color: #009ee0;
}
.prime_service {
    grid-row: 3/8;
    grid-column: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 0.6vw;
}

.catImg {
    grid-row: 1;
    grid-column: 1/2;
    margin: auto;
    object-fit: cover;
    width: var(--ratio-percent);
}

.cat_img_src {
    grid-row: 1;
    grid-column: 2/3;
}

.welcome {
    background-color: #6f655b;
    color: #fff;
    grid-column: 2 / 5;
    grid-row: 2;
    padding: 0.7em;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
}

.side_right{
    grid-column: 5 / 6;
    grid-row: 2;
    display: grid;
    row-gap: 0.6em;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2,minmax(0.1em,auto));
    font-size: 1.08vw;
    background-color: #e6c300;
    color: #6f655b;
    font-family: 'Raleway', sans-serif;
}

.about, .journey{
    background-color: #ccc;
    padding: 0.4em;
    margin-left: 0.5em;
}

.footer {
    font-family: 'Raleway';
    background: #000000;
    color: white;
    font-size: 0.5vw;
    text-align: center;
    bottom: 0;
    width: 100%;
    grid-column: 2/6;
    grid-row: 8;
    padding-bottom: 0.8vw;
}

.navlist_footer {
    display: inline-block;
    line-height: 0em;
    font-size: 1vw;
    padding: 1em;
}

.stylized_linkbox_footer {
    color: white;
}

.links_footer {
    color: white
}


.navigator {
    grid-column: 2 / 6;
    grid-row: 3 / 8;
    background-color: #009ee0;
    font-size: 1.3vw;
    font-family: 'Raleway';
    padding: 1em;
    text-align: center;
    color: #ffffff;
}

.head_navigator {
    font-size: 2em;
    font-weight: bolder;
}

.Uebungen {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,auto));
    grid-template-rows: repeat(auto-fill,minmax(0.1em,auto));
    gap: 10px;
    padding: 1em;
    margin: 1em;
    text-align: left;
    color: #6f655b;
}

.Ue1 {
    background-color: #e6c300;
    padding: 1em;
    border-radius: 5px;
}

.Ue2 {
    padding: 1em;
    background-color: #e6c300;
    border-radius: 5px;

}

.Ue3 {
    padding: 1em;
    background-color: #e6c300;
    border-radius: 5px;
}

.Ue4 {
    padding: 1em;
    background-color: #e6c300;
    border-radius: 5px;
}

.Ue5 {
    padding: 1em;
    background-color: #e6c300;
    border-radius: 5px;
}

.Ue10 {
    padding: 1em;
    background-color: #e6c300;
    border-radius: 5px;
}


.links{
    text-decoration: none;
    color: #ea3efe;
}
#hbrs_link{
    color: #009ee0;
    text-decoration: none;
}

.headings {
    font-size: 1.34em;
    color: #ea3efe;
}

/* Media Queries */
/* Desktop First */
@media screen and (max-width: 960px) and (min-width: 0px) {
    .wrapper {
        display: grid;
        /*gap: 10px;*/
        grid-template-columns: 30% 20% 30% 20%;
        grid-template-rows: repeat(7, minmax(100px, 34vw));

        background-color: #fff;
    }
    .design_header {
        grid-column: 1 / 3;
        grid-row: 1;
        background-color: #ffffff;
        color: #6f655b;
        font-family: 'Big Shoulders Text', cursive;
        font-size: 6vw;
        padding-top: 0.4em;
        padding-left: 0.2em;
    }

    .design_img {
        grid-row: 1;
        grid-column: 3/5 ;
        display: grid;
        grid-template-columns: 99% 1%;
        grid-template-rows: subgrid;
    }

    .catImg {
        grid-column: 1/2;
        grid-row: 1;
        margin: auto;
        object-fit: cover;
        width: var(--ratio-percent);
    }

    .cat_img_src {
        grid-row: 1;
        grid-column: 2/3;
    }

    .welcome {
        background-color: #6f655b;
        color: #fff;
        grid-column: 1 / 5;
        grid-row: 2;
        padding: 0.7em;
        font-family: 'Raleway', sans-serif;
        font-size: 3vw;
    }

    .side_right{
        grid-column: 1/5;
        grid-row: 7;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(2,minmax(0.1em,auto));
        font-size: 2vw;
        background-color: #e6c300;
        color: #6f655b;
        font-family: 'Raleway', sans-serif;
    }

    .about, .journey{
        background-color: #ccc;
        padding: 0.4em;
        margin: 0.6em;
        margin-bottom: 0;
        row-gap: 0;
    }

    .navigator {
        grid-column: 1 / 5;
        grid-row: 3 / 7;
        background-color: #009ee0;
        font-size: 2vw;
        font-family: 'Raleway';
        padding: 1em;
        text-align: center;
        color: #ffffff;
    }

    .Uebungen {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(250px,auto));
        grid-template-rows: repeat(auto-fill,minmax(0.1em,auto));
        gap: 10px;
        padding: 1em;
        margin: 1em;
        text-align: left;
        color: #6f655b;
    }
    .footer {
        font-family: 'Raleway';
        background: #000000;
        color: white;
        font-size: 3vw;
        text-align: center;
        bottom: 0;
        width: 100%;
        grid-column: 1 / 5;
        grid-row: 8;
    }
    .navlist_footer {
        display: inline-block;
        line-height: 0em;
        font-size: 1.5vw;
        padding: 1em;
    }
}


/* Media Queries */
/* Desktop First */
@media screen and (max-width: 560px) and (min-width: 0px) {
    .design_header {
        grid-column: 1 / 5;
        grid-row: 1;
        background-color: #ffffff;
        color: #6f655b;
        font-family: 'Big Shoulders Text', cursive;
        font-size: 10vw;
        padding-top: 0.4em;
        padding-left: 0.2em;
    }
    .catImg {
        display: none;
    }

    .cat_img_src {
        display: none;
    }

    .welcome {
        background-color: #6f655b;
        color: #fff;
        grid-column: 1 / 5;
        grid-row: 2;
        padding: 0.7em;
        font-family: 'Raleway', sans-serif;
        font-size: 3vw;
    }

    .side_right{
        grid-column: 1/5;
        grid-row: 7;
        display: grid;
        row-gap: 0.6em;
        grid-template-columns: subgrid;
        grid-template-rows: repeat(2,minmax(0.1em,auto));
        font-size: 2vw;
        background-color: #e6c300;
        color: #6f655b;
        font-family: 'Raleway', sans-serif;
    }

    .navigator {
        grid-column: 1 / 5;
        grid-row: 3 / 7;
        background-color: #009ee0;
        font-size: 3.2vw;
        font-family: 'Raleway';
        padding: 1em;
        text-align: center;
        color: #ffffff;
    }

    .Uebungen {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(200px,auto));
        grid-template-rows: repeat(auto-fill,minmax(0.1em,auto));
        gap: 10px;
        padding: 1em;
        margin: 1em;
        text-align: left;
        color: #6f655b;
        font-size: 2vw;
    }
}



